:root {
    --color-bg-clair: #0f4c81;
    --color-bg-fonce: #042746;
    --font-family-titre: 'shadows into light';
    --font-family-p: 'open sans';
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

h1 {
    font-family: var(--font-family-titre);
    text-transform: uppercase;
    font-size: 6em;

}

h2 {
    font-family: var(--font-family-titre);
    font-size: 2.7em;
    text-transform: uppercase;
}


h3 {
    font-family: var(--font-family-titre);
    font-size: 2.0em;
    padding-left: 20px;
}

p {
    font-family: var(--font-family-p);
    font-size: 1.1em;
}

/* =======
TRAVELBOOK
========== */

.section__travelbook {
    background-image: url(/images/backpack-mountain.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.section__travelbook__div__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 35%;
    height: 8%;
    font-family: var(--font-family-p);
    text-transform: uppercase;
    font-weight: bolder;
}

.section__travelbook__titre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 70%;
    width: 70%;
    /* border: 3px yellow solid; */
}

.section__travelbook__titre__soussec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 90px;

}

/*=
HEY
=== */

.section__hey {
    background-color: var(--color-bg-clair);
    width: 100vw;
    height: 540px;
    text-align: center;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; */
}

.section__hey__div {
    /* border: 3px yellow solid; */
    margin: 0 auto;
    width: 900px;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.section__hey__h2 {
    /* border: 3px yellow solid; */
    width: 18%;
    height: 19%;
}

.section__hey__p {
    /* border: 3px yellow solid; */
    width: 68%;
    height: 33%;
}

.section__hey__i {
    /* border: 3px yellow solid; */
    width: 25%;
    height: 25%;
    display: flex;
    justify-content: center;
    gap: 90px;
    font-size: 60px;
}

.fa-passport {
    color: rgb(32, 194, 145);
}

.fa-route {
    color: rgb(238, 209, 45);
}

.fa-signs-post {
    color: rgb(250, 250, 119);
}

/* ======
AUSTRALIE
========= */
.section__australie {
    background-color: var(--color-bg-fonce);
    height: 420px;
    display: flex;
    width: 100vw;
}

.section__australie__img {
    width: 100%;
}

.section__australie__article {
    /* margin: 60px; */
    padding: 110px;
}

.section__australie__article p {
    border-top: 2px white solid;
    margin-top: 25px;
    padding-top: 15px;
}

/* ===============
NOUVELLE-CALEDONIE
===================*/

.section__nouvellecaledonie {
    background-color: var(--color-bg-fonce);
    width: 100vw;
    height: 400px;
    display: flex;
}

.section__nouvellecaledonie__article {
    padding: 110px;
}

.section__nouvellecaledonie__article p {
    border-top: 2px solid white;
    margin-top: 25px;
    padding-top: 15px;
}

/* ==
JAPON
===== */
.section__japon {
    background-color: var(--color-bg-fonce);
    width: 100vw;
    height: 400px;
    display: flex;
}

.section__japon__article {
padding: 110px;
}

.section__japon__article p {
    border-top: 2px white solid;
    margin-top: 25px;
    padding-top: 15px;
}

/* ===
FOOTER
====== */
.footer {
    background-color: var(--color-bg-clair);
    /* height: 165px; */
    width: 100vw;
    position: relative;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

.footer__div__gd {
    display: flex;
    justify-content: space-evenly;
    height: 170px;
}

.footer__div__gd__article1,
.footer__div__gd__article2 {
  padding-top: 20px;
}

.footer__h3 {
    padding: 0;
    margin-bottom: 25px;
}

.footer__fabrands {
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

.fa-circle-arrow-up {
    position: absolute;
    left: 90%;
    bottom: 45%;
    font-size: 45px;
}

.footer__div__2025 {
    text-align: center;
    border-top: 1px white solid;
    padding-top: 5px;
    /* margin-bottom: -50px; */
}